<div class="messages">
    <% for (const message of messages) {%>
    <div class="message">
        <p><strong><%=message.username %></strong></p>
        <p><%=message.text %></p>
        <strong>Created on: </strong>
        <time datetime="YYYY-MM-DDTHH:mm:ss.sssZ"><%=message.added%></time>
        <a href="/detailedMessage/<%=message.userId%>">Details</a>
    </div>

    <% } %>
</div>
