<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Message by <%=messageDetails.user%></title>

        <style>
            .message-details {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="message-details">
            <h1>Message Details</h1>
            <p><strong>Author:</strong><%=messageDetails.username%></p>
            <p><strong>Message</strong></p>
            <p><%=messageDetails.text%></p>
            <button type="button" onclick="window.location.href='/'">
                Go Back
            </button>
        </div>
    </body>
</html>
