<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>New Message</title>
    </head>
    <body>
        <h1>New Message</h1>
        <form action="/new" method="post">
            <label for="userName">Name: </label>
            <input id="userName" name="userName" type="text" required />

            <label for="message">Message:</label>
            <textarea name="message" id="message" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
