body,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

main {
    gap: 1.2rem;
}

main > button {
    padding: 1.2rem;
    font-size: 1rem;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: rgb(181, 205, 228);
    box-sizing: border-box;
    padding: 1rem;
    max-height: 65vh;
    max-width: 50vw;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: white rgb(107, 122, 136);
}

.message {
    background-color: white;
    padding: 0.5rem;
    border: 3px black solid;
    border-radius: 15px;
}

@media (width <= 640px) {
    .messages {
        max-height: 75vh;
        max-width: 65vw;
    }
}
