form,
.new-message-container,
.message-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
}

.name-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.new-message-container button {
    padding: 1.2rem;
    font-size: 1rem;
}

@media (width <= 640px) {
    body {
        justify-content: center;
    }
}
